.splash {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 101;
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.splash-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #001d3d;
  min-height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 101;
  transition: opacity 200ms ease-in;
  opacity: 1;
}

.container {
  background: #f6f8fc;
  min-height: 100vh;
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.7rem;
}

.pin img {
  width: 1.2em;
}

.header_c {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.header_c p {
  font-size: 0.85em;
  margin: 0;
  padding: 0;
}

.header_c h3 {
  color: #001d3d;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
}

.searchbar {
  border: none;
  padding: 1rem 0.8rem;
  width: 80%;
}

.searchbar_button {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffc300;
  padding: 1rem 0.8rem;
  cursor: pointer;
}

.type {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.type_h {
  display: flex;
  justify-content: space-between;
}

.type_h p {
  font-size: 0.85em;
}

.type_l {
  display: flex;
  gap: 0.5rem;
}

.type_i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #d9d9d9;
  padding: 0.3rem 0.7rem;
  border-radius: 12px;
  font-size: 0.75em;
  cursor: pointer;
}

.type_i_active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #ffc300;
  padding: 0.3rem 0.7rem;
  border-radius: 12px;
  font-size: 0.75em;
  cursor: pointer;
}

.station {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.station h3 {
  color: #001d3d;
}

.station_l {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.station_c {
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
}

.station_c_info {
  display: flex;
  gap: 0.5rem;
}

.station_c_info img {
  width: 1.6em;
}

.station_c_detail {
  display: flex;
  flex-direction: column;
}

.station_c_info_detail {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.station_number {
  background: rgba(192, 192, 192, 0.53);
  border-bottom: 1px solid #9747ff;
  border-radius: 3px;
  font-size: 0.65em;
  padding: 0.1rem 0.5rem;
}

.station_c_detail h4 {
  margin: 0;
  padding: 0;
  font-size: 0.85em;
}

.station_c_detail p {
  margin: 0;
  padding: 0;
  font-size: 0.65em;
  color: #808080;
  margin-top: 0.3rem;
}

.station_c_seat_avail {
  color: #20b038;
  font-size: 0.7em;
}

.station_c_seat_full {
  color: #f24e1e;
  font-size: 0.7em;
}

/* Search */
.searchbox {
  top: 0;
  position: fixed;
  background: #428bca;
  width: 100%;
  min-height: 100vh;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.searchbox_h {
  background: white;
  width: 100%;
  max-height: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.searchbox_s {
  display: flex;
  align-items: center;
}
